.border {
  background-color: #a7a5d6;
  width: 600px;
  border: 2px solid #333; /* Thicker, darker border */
  border-radius: 10px; /* More rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: 1%;
}

.form {
  width: 500px;
  margin-left: 5%;
}

.message-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3rem;
}

.data-form {
  flex: 1;
  margin-right: 20px;
}

.user-form {
  flex: 1;
}

.text {
  position: relative;
  padding-left: 13rem;
  padding-top: 3rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
